@import '../../app/globals.scss';

.phrase {
  color: $color-10;
}

.phrase {
  height: 35px;
  border-right: 2px solid;
  animation: blinkCursor 0.8s infinite;

  @keyframes blinkCursor {
    from {
      border-right: 2px solid;
    }

    to {
      border-right: 2px solid $color-60;
    }
  }

  @media screen and (max-width: 900px) {
    height: 30px;
    margin-top: 20px;
  }
}
