@import '../../../app/globals.scss';

.tool {
    width: 200px;
    height: 110px;
    border-radius: 10px;
    background: $color-60;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: ease .2s;
    
    @media screen and (max-width: 900px) {
        background: $color-white;
        box-shadow: 0px 0px 0px 2px $color-30;
        transform: translateY(-5px);
    }

    &:hover {
        background: $color-white;
        box-shadow: 0px 0px 0px 2px $color-30;
        transform: translateY(-5px);
        cursor: pointer;
        
        .name {
            opacity: 1;
            visibility: visible;
        }
    }
    
    .icon {
        font-size: 80px;
        color: $color-10;
    }
    
    .name {
        width: fit-content;
        padding: 1px 5px;
        height: 25px;
        border-radius: 3px;
        background: $color-30;
        color: $color-60;
        font-weight: 600;
        opacity: 1;
        visibility: hidden;
        transition: opacity 0.2s ease, visibility 0.2s ease;
        justify-content: center;
        align-items: center;
        position: relative;
        transform: translateY(-5px);
        text-align: center;

        @media screen and (max-width: 900px) {
            box-shadow: 0px 0px 0px 2px $color-30;
            transform: translateY(-5px);
            visibility: visible;
        }
    }
}
