@import '../../app/globals.scss';

.tool {
  height: fit-content;
  background: $color-60;
  transition: ease .2s;
  align-items: center;
  position: relative;

  &:hover {
    cursor: pointer;
    box-shadow: 0 0 1px 3px $color-30;
    transform: scale(1.1);

    .name {
      opacity: 1;
      visibility: visible;
    }
  }

  .icon {
    font-size: 80px;
    color: $color-10;
  }

  .name {
    width: fit-content;
    padding: 1px 5px;
    height: 25px;
    background: $color-30;
    color: $color-60;
    font-weight: 600;
    opacity: 1;
    visibility: hidden;
    transition: opacity 0.2s ease, visibility 0.2s ease;
    justify-content: center;
    align-items: center;
    top: 0;
    transform: translateY(-10px);
    position: absolute;
    text-align: center;

    @media screen and (max-width: 900px) {
      visibility: visible;
    }
  }
}