@import "../../../app/globals.scss";

.project {
  width: 250px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: $color-white;
  border-radius: 7px;
  box-shadow: $box-shadow;
  padding: 20px 5px;

  .text {
    display: flex;
    flex-direction: column;
    align-items: center;

    h3 {
      width: 200px;
      margin-bottom: 10px;
      text-align: left;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    
    p {
      width: 200px;
      height: 100px;
      margin-bottom: 20px;
      text-align: left;
    }

    .img {
      height: 100px;
      width: 150px;
    } 
  }
}
