@import '../../index.scss';

.main-splash {
    width: 100vw;
    height: 100vh;
    background: $color-30;
    color: $color-60;
    font-size: $font-1;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: ease .5s;
}