$color-60: #EEE5E7;
$color-30: #DD4814;
$color-10: #261B23;

body {
  background: $color-60;
  color: $color-10;
}

h1 {
  font-size: 60px;
  color: $color-30;
}

li{
  font-weight: 500;
  
  &:hover {
    background: $color-60;
    color: $color-30;
  }
}

a {
  color: $color-10;

  &:hover {
    color: $color-30;
  }
}